/*reset*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap');
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}

/*theme*/

:root{
    --color-default: #000;
    --color-primary: #fff;   
    --color-nav: #ccc;
    --color-section: rgb(61, 61, 61);
}
header{
    padding: 20rem;
    background-color: #000;
    background-image: url("/asset/Future.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
header h1{
    text-align: center;
    color: var(--color-primary);
}
nav ul {
    border: 0;
    font-size: 0;
    background-color: var(--color-nav);
}
nav ul li{
    display: inline-block;
    width: calc(100% / 5 - .01rem);
    line-height: 4.5rem;
    font-size: 1.6rem;
    border-right: .1rem #ccc transparent;
    text-align: center;
}
nav ul li:hover{
    background-color: rgb(88, 87, 87);
}
main section{
    max-width: 80rem;
    margin: 4rem auto;
    text-align: center;
    background-color: var(--color-nav);
    border-radius: 2rem 2rem 0 0;
}
main section h2{
    background-color: var(--color-section);
    color: var(--color-primary);
    border-radius: 2rem 2rem 0 0;
}
#Langage ul li{
    padding: 2rem 0 2rem;
    display: inline-block;
    width: calc(100% / 4 - 1rem);
    line-height: 4.5rem;
    font-size: 1.6rem;
    border-right: .1rem #ccc
}